/* Game */
.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  margin: 0 auto;  
 }

/* Pieces */

.piece-image {
  padding: 8px 2px;
}

.piece-small {
  width: 40px;
}

.piece-medium {
  width: 50px;
}

.piece-large {
  width: 60px;
}

/* Grid */
.grid-container {
  display: grid;
  border: solid #ccc 6px;
  grid-template-columns: 1fr 4fr 4fr 4fr;;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  border: solid #ccc 4px;
  font-size: 12px;
}

.row-grid-item {
  display: grid;
  align-items: center;
  background-color: #ccc;
  width: 28px;
}

.column-grid-item {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  height: 24px;
}

.circular-badge {
  padding: 6px;
  width: 14px;
  height: 14px;
  color: white;
  background: grey;
  border-radius: 50%
}

.piece-ground{
    height: 150px;
    display: grid;
    background-color: azure;
    border: solid #ccc 2px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.piece-square { 
  height: 75px;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.piece-square .piece-image {
  grid-column-start: first-row;
  grid-row-start: first-row;
}


.game-heading {
  color: #f2f2f2;
}
 /* Game Info */
ul {
  padding-left: 30px;
 }
 .game-info {
  margin-left: 20px;
 }
 .status {
  margin-bottom: 10px;
 }

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.navbar-wrapper {
  margin-left: 240px;
}


/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ccc;
  color: black;
}

.image-wrapper {
  width: 100%;
}

.tttimage {
  margin-top: 30px;
  width: 120px;
}

.navigation-wrapper {
  margin-top: 30px;
  width: 100%;
}
 

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 240px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #333; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.sidenav .nav-item {
  margin-left: 20px;
  margin-right: 20px;
  padding: 4px 2px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* About Section */
.about {
  margin-top: 100px;
  margin-left: 300px;
}




